node_modules
public
.tmp
.sass-cache
.idea
/server/config/local.env.js
/server/config/.env
server/logs/
server/config/.env
.env

/server/ecosystem.config.js
/server/logs
uploads
npm-debug.log
*.map

# launch.json
yarn-error.log
yarn.lock
package-lock.json
client/package-lock.json

dist